*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background: burlywood;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

button{
    background: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 15px;
}

button:hover{
    color: black;
    background: white;
}